@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.header .buttons {
  display: flex;
  gap: 8px;
  padding: 5px 8px;
  border-radius: 5px;
}

.header .button {
  width: 24px;
  height: 24px;
  border: none;
  appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: all 0.15s ease-in-out;
  filter: invert(1);
}

.header .button:hover {
  scale: 1.15;
}

.header .button:focus {
  outline: none;
}

.header .button.pencil {
  background-image: url('icons/pencil.svg');
}

.header .button.eraser {
  background-image: url('icons/eraser.svg');
}

.header .button.grid {
  background-image: url('icons/grid.svg');
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.canvas {
  width: 480px;
  height: 480px;
  outline: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.cell {
  flex: 1 auto;
  border: 1px solid lightgray;
}

.cell:hover {
  z-index: 1;
  filter: brightness(40%);
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #347cdb; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear 1;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
  z-index: 2;
  background-color: black;
  position: absolute;
  top: 0%;
  left: 0%;
}